* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr repeat(2,3fr) 0.5fr; ;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
    ;
}


/*HEADER*/

header {
    grid-area: header;
}

#nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: black;
    
}

#logo-header {
    display: flex;
    margin-right: 30px;
    flex-grow: 1;
    margin-left: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
}

#logo-header img{
    height: 80px;
    width: auto;
    margin-right: 10px;
    
}

#nombre-logo {
    display: flex;
    color: skyblue;
    flex-grow: 1;
    margin-right: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
}

#nombre-logo h1 {
    font-size: 34px;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 3;
    padding: 30px;
    order: 3;
}

#menu li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid skyblue;
    padding: 10px;
    margin-left: 10px;
}


/*INICIO*/

.mainInicio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr 1.5fr;;
    grid-template-areas: 
    "img1 img2" 
    "aside aside"
    ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-area: main;
    
}

.imagen1Inicio {
    grid-area: img1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 28, 32);
    
}

.imagen1Inicio img {
    width: 80%;
    height: 80%;  
}

.imagen2Inicio {
    grid-area: img2;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(0, 28, 32);
}

.imagen2Inicio img {
    width: 80%;
    height: 80%;
}
.textoInicio {
    background-color: skyblue;
    grid-area: aside;
    text-align: center;
    font-size: larger;
}


/*Noticias*/

.mainNoticias {
    
    background-color: skyblue;
    grid-area: main;
    display: grid;
    grid-template-rows: 0.5fr repeat(2,1fr) ;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "titulo titulo"
    "noticia1 noticia3"
    "noticia2 noticia3"
    ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 5px;
    grid-area: main;
}

.tituloNoticias {
    grid-area: titulo;
    background-color: rgb(4, 118, 163);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticia1 {
    grid-area: noticia1;
    background-color: rgb(4, 136, 189);
    margin-left: 10px;
}

.noticia2 {
    grid-area: noticia2;
    background-color: rgb(6, 138, 190);
    margin-left: 10px;
}

.noticia3 {
    grid-area: noticia3;
    background-color: rgb(4, 136, 189);
    margin-right: 10px;
}


/*CALENDARIO*/

.mainCalendario {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(0, 149, 207);
    margin-top: 10px;
}

.contenedorCalendario {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    border: 3px solid black;
    padding: 60px;
    width: 60%;
}

.tituloCalendario {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.partidos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%;
    border: 1px solid black;
    background-color: rgb(0, 149, 207);
    text-align: center;
}

.fecha {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.equipos {
    font-size: 40px;
    padding: 10px;
}

/*HISTORIA*/

.mainHistoria {
    grid-area: main;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 75vh;
}

.textoHistoria {
    background-color:  rgb(0, 149, 207);
    flex-basis: 50%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.textoHistoria p {
    background-color: antiquewhite;
    margin: 30px;
    text-align: center;
}

.imagenHistoria {
    background-color: skyblue;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenHistoria img {
        width: 100%;
        height: 100%;
        
}

/*CONTACTO*/

.mainContacto {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(0, 149, 207);
    margin-top: 10px;
}

#contenedorContacto {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    border: 3px solid black;
    padding: 30px;
}


.tituloContacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: skyblue;
}

.textoContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 4px solid black;
    margin-top: 5px;
    text-align: center;
}


/*FOOTER*/

footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid skyblue;
}

.footer-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-nav li {
    color: white;
    margin-right: 20px;
}

.footer-text {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.logo img {
    height: 75px;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
}