* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr repeat(2,3fr) 0.5fr; ;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
    ;
}

a {
    color: white;
    text-decoration: none;
}