/*FOOTER*/

footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid skyblue;
    .footer-contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .logo{
            img {
                height: 75px;
                width: auto;
            }

        }
        .footer-nav {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                li {
                    color: white;
                    margin-right: 20px;
                }
            }
        }
    }
    .footerText {
        .footer-text {
            color: white;
            margin-top: 20px;
            text-align: center;
        }
    }
    .footer--seguinos {
        .footer--seguinos__texto {
            color: white;
        }
    }
}