/*FOOTER*/

footer {
    grid-area: footer;
    background-color: black;
    @include flexbox(row, space-around, center);
    flex-wrap: wrap;
    border-top: 4px solid $celeste;
    .footer-contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .logo{
            img {
                height: 75px;
                width: auto;
            }

        }
        .footer-nav {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                li {
                    color: white;
                    margin-right: 20px;
                }
            }
        }
    }
    .footer-text {
        color: white;
        margin-top: 20px;
        text-align: center;
    }
    .footer--seguinos {
        .footer--seguinos__texto {
            color: white;
        }
    }
}