@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexbox ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background-color {
    background-color: skyblue;
}

@mixin letra ($font-size, $text-align){
    font-size: $font-size;
    text-align: $text-align;
}

