@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin reseteo-lista {
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
}

@mixin flexbox ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background-color {
    background-color: skyblue;
}
